/* Reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global */
  body {
    font-family: "Merriweather Sans", sans-serif;
    font-size:16px;
    overflow: hidden;
  }

  .form-search {
    margin:auto;
    text-align: center;
  }

  .form-search input {
    display: block;
    margin:auto;
    padding:0.25rem;
    border-radius: 0.25rem;
    font-size:1rem;
  }

  .header {
    padding:0.5rem;
    position: sticky;
    top:0;
    text-align: center;
    background-color: red;
  }

  /* > * selector en primer nivel de todos los hijos */
  .header >* {
    margin: 1rem auto;
  }

  /* Dinamic content ajax */
  /*Nos permitira ser resposive sin media queries*/
  .grid-fluid {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  }

  /* Error ajax */
  .error {
    padding: 1rem;
    font-size: 150%;
    text-align: center;
    color: #fff;
    background-color: red;
  }

  .post-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: rgb(223, 219, 219);
  }

  .post-card p {
    display: flex;
    justify-content: space-between;
  }

  .post-page {
    margin: 1rem auto;
    padding:1rem;
    width: 80%;
    background-color: white;
  }

  .post-page aside {
    margin: 1rem auto;
    padding:1rem;
    width: 60%;
    text-align: center;
    background-color: rgb(202, 185, 185);
  }

  .post-page hr {
    border: thin solid rgb(231, 128, 128);
    margin: 2rem auto;
    width: 80%;
  }

  .post-page img,
  .post-page audio,
  .post-page iframe,
  .post-page video {
    margin: auto;
    display: block;
    max-width:100%;
  }

  .loader {
    margin: 1rem auto;
    display: block;
    width:4rem;
    height: 4rem;
  }


  